<div class="header">
    <button mat-raised-button class="add-blog-button" (click)="openDialog()">Add Blog</button>
    <mat-form-field>
        <mat-select placeholder="Sort Date By" [(value)]="sortBy" (selectionChange)="sortDateBy()">
            <mat-option value="day">day</mat-option>
            <mat-option value="month">month</mat-option>
            <mat-option value="year">year</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="card-wrapper">

    <mat-card class="blog-card" *ngFor="let card of cards | async">
        <mat-icon class="material-icon" (click)="deleteBlog(card.id)">close</mat-icon>
        <mat-card-header>
            <mat-card-title>{{card.title}}</mat-card-title>
            <mat-card-subtitle>{{card.date | date: 'dd.MM.yyyy'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div [innerHTML]="card.text"></div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)='openDialog(card)'>Edit</button>
        </mat-card-actions>
    </mat-card>
</div>

<mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>