.header {
  display         : flex;
  flex-direction  : row-reverse;
  background-color: #F5F5F5;
  position        : -webkit-sticky;
  position        : sticky;
  top             : 0px;
  z-index         : 5;
  min-height      : 65px;
  align-items     : center;
  justify-content : space-around;

  .add-blog-button {
    height: 40px;
  }
}

.card-wrapper {
  width         : 100vw;
  display       : flex;
  flex-direction: column;
  align-items   : center;

  .blog-card {
    position: relative;
    width   : 50%;
    margin  : 10px 0px;

    .material-icons {
      color   : #ff0000;
      position: absolute;
      right   : 8px;
      top     : 8px;
      cursor  : pointer;
    }
  }

  .mat-card-content {
    padding: 0px 20px;
  }

  .mat-card-actions {
    display        : flex;
    justify-content: flex-end;
  }
}

.paginator {
  position: fixed;
  bottom  : 0;
  right   : 0;
  height  : 5vh;
}
