mat-dialog-content {


  width: 50vw;
}

.dialog-title {
  margin-bottom: 0px;
}

.mat-form-field {
  width: 100%;
}

.button-container {
  display        : flex;
  justify-content: flex-end;
  margin-top     : 10px;
}
