<h2 class="dialog-title" mat-dialog-title>{{isEdit ? 'Edit blog' : 'Create new blog'}}</h2>
<mat-dialog-content class="mat-typography">
    <form (ngSubmit)="submit()" #form='ngForm' class="form">
        <mat-form-field>
            <input matInput placeholder="Title" [(ngModel)]="blogCard.title" name="title" required (input)="hasChangedJob()" />
            <mat-error>Please enter a blog title</mat-error>
        </mat-form-field>
        <ckeditor class="text-editor" [editor]="Editor" [(ngModel)]="blogCard.text" name="text" [config]="{placeholder:'Enter a job description',  toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList' ]}" (change)="hasChangedJob()"></ckeditor>
        <div class="button-container">
            <button *ngIf="!isEdit" class="submit-form" mat-button [mat-dialog-close]="false" type="submit" [disabled]="form.invalid || !hasChanged">Save</button>
            <button *ngIf="isEdit" class="submit-form" mat-button [mat-dialog-close]="false" type="submit" [disabled]="form.invalid || !hasChanged">Edit</button>
            <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
        </div>

    </form>
</mat-dialog-content>